header {
    justify-content: space-between;
    display: flex;
}

header div a{
    text-decoration: none;
    color: violet;
}

main {
    justify-content: center;
}

button {
    background: midnightblue;
    color: white;
    grid-auto-columns: auto;
}

button:hover {
    background: violet;
} 

.hide {
    display: none;
}