.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin: 5px;
}

#highScoreLink {
    color: violet;
}

#main {
    text-align: center;
}

#choices {
    display: flex;
    flex-direction: column;
}

#feedback {
    font-size: 25px;
    color: grey;
}

button {
    background: midnightblue;
    color: white;
    border-radius: 5px;
    margin: 5px 250px;
    font-size: 25px;
}

button:hover {
    background: violet;
}

.hide {
    display: none;
}